.root {
    display: block;
    background-color: #dc0032;
    cursor: pointer;
    color: #fff;
    margin-top: 5px;
    padding: 6px 10px;
    text-align: center;
}

.root:hover {
    background-color: #b7002a;
    text-decoration: none;
}
